<h3>Favorite Microposts (<%= @user.favorite_microposts.count %>)</h3>
<% if @user.favorite_microposts.any? %>
	<ol class="microposts">
		<%= render @microposts %>
	</ol>
  <%= paginate @microposts, :remote => true %>
<% end %>