<h3>Followers (<%= @total %>)</h3>

<div class="users">
  <%= render :partial => 'users/user', :collection => follower_users, :locals => { :page_owner => page_owner } %>
</div>
<%= paginate follower_users %>