<% if current_user != user %>
	<div id="follow_form_<%= user.id %>" class="follow_form">
		<% if current_user.following?(user) %>
			<%= render :partial => 'unfollow', :locals => { :user => user, :page_owner => page_owner } %>
		<% else %>
			<%= render :partial => 'follow', :locals => { :user => user, :page_owner => page_owner } %>
		<% end %>
	</div>
<% end %>