@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #fafafa;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a, a:active, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.jumbotron {
  height: 250px;
}
.login-container {
  margin-top: 30px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* forms */
input:not(.default), textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}


/* error explanation */
#error_explanation {
  color :red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}


/* sidebar */
aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
  .profile {
    word-break: break-all;   
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


/* followings and followers */
.users {
  padding: 0;
  .panel {
    background-color: #fafafa;
    padding: 5px;
    margin: 0;
    border: none;
    box-shadow: none;
    margin: 0;
  }
  .user {
    padding: 0;
    margin: 0;
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    height: 240px;
    overflow: hidden;
    background-color: #ffffff;
  }
  .gravatar {
    margin: 12%;
    border-radius: 6px;
  }
  a {
    padding: 0;
  }
  .user_name {
    margin-top: 5px;
    margin-bottom: 3px;
  }
  .follow_form {
    left: 0px;
    float: left;
    margin: 0;
    padding: 0;
  }
  .profile {
    word-break: break-all; 
  }
}



/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  .container {
    margin: 0;
    padding: 0;
    word-break: break-all;
  }
  li {
    border: 1px solid #e8e8e8;
    border-radius: 10px;
    margin-top: 9px;
    padding: 0px;
    background-color: #ffffff;
  }
  .retweet-container {
    width: 100%;
    min-height: 38px;
    padding-bottom: 5px;
  }
  .original-container {
    width: 100%;
    min-height: 80px;
  }
  .reply-container {
    width: 100%;
    min-height: 80px;
    border-top: 1px solid #e0e0e0;    
    padding-top: 5px;
  }
  .user-content {
/*   border-bottom: 1px solid #e0e0e0;   */
    padding: 5px;
  }
  .user-content-view-only {
    padding: 0px 5px 5px 5px;
  }
  .content-top {
    border-radius: 10px 10px 0px 0px;
  }
  .user-content:hover {
    background-color: #eeeef7;
  }
  .user {
    a {
      display: block;
    }
    display: block;
    margin-left: 60px;
    position: relative;
  }
  .content {
    display: block;
    margin-left: 60px;
    word-break: break-all;    
    position: relative;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    border-radius: 8px;
  }
  .reply-form {
    border-top: 1px solid #e0e0e0;
    background-color: #f4f4f4;
    border-radius: 0px 0px 10px 10px;
    padding: 25px 0px;
    display: none;
  }
  .retweet-content {
    font-size: 12px;
    color: #cccccc;
    margin-left: 40px;
  }
  .inactive {
    color: #ccc;
  }
  .delete {
    color: #999;
  }
  .delete:hover {
    color: #a00;
  }
  .retweet {
    color: #999;
  }
  .retweet:hover {
    color: #090;
  }
  .favorite-on {
    color: #999;
  }
  .favorite-on:hover {
    color: #cc0;
  }
  .favorite-off {
    color: #fa0;
  }
  .favorite-off:hover {
    color: #fc0;
  }
  .reply {
    color: #999;
  }
  .reply:hover {
    color: #07f;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}


/* navitation */
nav.pagination {
  display: none;
}

/* scrolling image */
#infscr-loading {
  position: absolute;
  text-align:center;
  margin:0 auto;
  bottom: 5px;
  left: 14%;
}

.btn-file {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
